<div class="row center-xs">
  <div class="col-xs col-md-6">
    <div class="sub-container">
      <div class="sub-container-header">
        <span class="sub-titles"> Marcas de Productos </span>
      </div>
      <div class="sub-container-content">
        <mat-table [dataSource]="marcas$ | async">
          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let myRowData; columns: tableColumns"></mat-row>
          <!--Columns Definition-->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.nombre}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell class="end-xs" *matHeaderCellDef>
              <button routerLink="new" mat-icon-button matTooltip="Nueva Marca" color="primary">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell class="table-actions end-xs" *matCellDef="let item">
              <a mat-icon-button matTooltip="Editar" color="primary"  routerLink="./{{item.key}}">
                <mat-icon>edit</mat-icon>
              </a>
              <button mat-icon-button matTooltip="Eliminar" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
        </mat-table>
      </div>
    </div>
  </div>
</div>