<mat-form-field>
  <mat-label>Plantel</mat-label>
  <mat-select>
    <mat-option>
      Seleccione
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Se oculta si ya se esta trabajando en plantel -->
<mat-form-field>
  <mat-label>Plantel</mat-label>
  <mat-select>
    <mat-option>
      Seleccione
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Seccion</mat-label>
  <mat-select>
    <mat-option>
      Seleccione
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Grado</mat-label>
  <mat-select>
    <mat-option>
      Seleccione
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput required>
</mat-form-field>
