.sub-container {
    flex: 1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto;
    background-color: #FFF;
    border: solid 1px #E0E0E0;
    box-shadow: 2px 2px 5px 0px #E0E0E0;
    
    .sub-container-header {
        margin: 10px 5px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: solid 2px $primary-dark-color;
    }

    .sub-container-footer {
        margin-top: 20px;
    }
}


.mat-dialog-container{
    min-width: 300px;
}

.radio-group-block {
    display: inline-flex;
    flex-direction: column;
    mat-radio-button{
        margin: 5px;
    }
}