<form [formGroup]="form" class="persona-form">
  <mat-form-field appearance="outline">
    <mat-label>
      Nombre
    </mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      Apellido Paterno
    </mat-label>
    <input matInput formControlName="apellidoPaterno">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      Apellido Materno
    </mat-label>
    <input matInput placeholder="Apellido Materno" formControlName="apellidoMaterno">
  </mat-form-field>
  <div *ngIf="showOptionals" class="optional-fields">
    <mat-form-field appearance="outline">
      <mat-label>
        Fecha de nacimiento
      </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
      <mat-hint> dd/mm/aaaa </mat-hint>
    </mat-form-field>
    <div>
      <label>Genero: </label>
      <mat-radio-group class="radio-group-block" formControlName="sexo">
        <mat-radio-button value="1">
          Hombre
        </mat-radio-button>
        <mat-radio-button value="2">
          Mujer
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
