<div class="main-banner">
    <div class="logo text-center">
        <img src="/assets/image/logos/logo.png" class="img-responsive"/>
    </div>
    <div class="platos text-center">
        <img src="/assets/image/platos.png" class="img-responsive"/>
    </div>
</div>
<div class="productos">
    <div class="row around-xs">
        <div class="col-md-10">
            <span class="title orange-text">
                Nuestros Productos
            </span>
            <div class="row">
                <div class="col-md-3" *ngFor="let producto of productos">
                    <div class="producto text-center">
                        <div class="product-image">
                            <img class="img-responsive" [src]="producto.portada">
                        </div>
                        <div class="product-name">
                            {{producto.nombre}}
                        </div>
                        <div class="product-description">
                            {{producto.descripcion}}
                        </div>
                        <div class="text-left">
                            Presentacion:<br/>
                            <mat-radio-group>
                                <mat-radio-button *ngFor="let pr of producto.presentacions" value="pr.id">
                                    {{pr.nombre}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="product-price">
                            {{producto.precio | currency}}
                        </div>
                        <div class="product-actions">
                            <button mat-raised-button>
                                <mat-icon>
                                    shopping_cart
                                </mat-icon>
                                Agregar al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>