@import '../../../../../styles/global/_variables.scss';

.main-banner{
    background-image: url('/assets/image/wood_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 128px);
    max-height: 512px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .platos, .logo {
        padding: 0 25px;
    }
    .platos {
        max-height: 40%;
    }
    .logo {
        max-height: 60%;
    }
}

.producto{
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Special Elite';

    &:hover{
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        .product-actions{
            visibility: visible;
        }
    }

    .product-name{
        color: #43b95d;
        font-size: 24px;
    }

    .product-description{
        padding: 15px 0;
    }

    .product-price{
        padding: 15px 0;
        font-size: 21px;
    }

    .product-image{
        padding-bottom: 15px;
    }

    .product-actions{
        padding: 20px 0;
        visibility: hidden;
    }
}