<div class="sub-container">
  <div class="sub-container-header">
    <span class="sub-titles">
        Reporte de Movimientos de Inventario
    </span>
  </div>
  <mat-form-field class="md">
    <mat-select (selectionChange)="onRangoChanged($event.value)" placeholder="Movimiento de">
      <mat-option *ngFor="let p of periodos" [value]="p">
        {{p.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <os-table class="highlight" [dataSource]="dataSource" [columns]="tableColumns" [actions]="[]">
  </os-table>
</div>
