.mat-row {
  .table-actions {
    visibility: hidden;
  }
  &:hover{
    .table-actions {
     visibility: visible;
    }
  }
}

mat-cell, mat-footer-cell, mat-header-cell {
  padding: 0 10px;
  &.sm {
    max-width: 85px;
  }
  &.md {
    max-width: 170px;
  }
}
