@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import '../../../styles/global/_variables.scss';
@import '../../../styles/mixins/breakpoints';
$primary-color: #85C706;

body{
    padding-bottom: 25px;
}

.mat-raised-button{
    background-color: #43b95d;
    .mat-button-wrapper{
        color: #FFF;
    }
}

.title{
    font-size: 3rem;
    font-family: 'Special Elite';
}

.orange-text {
    color: #FF5700 !important;
    text-shadow: #20282B 3px 3px;
}

.mat-toolbar.os-public-toolbar{
    background-color: #FFF;
    font-family: 'Special Elite';

    .mat-icon {
        margin-right: 6px;
    }

    @include md {
        .mat-toolbar-row {
            padding: 0 32px;
        }
    }

    .mat-toolbar-row.main-header {
        color: #FFF;
        background-color: #4e342e;
        .contact-box{
            a {
                display: flex;
                justify-content: center;
                height: 24px;
                font-size: 16px;
            }
        }        
    }
    .mat-toolbar-row.menu {
        border-bottom: solid 1px #f5f5f5;
        .mat-icon{
            fill: $primary-color;
            color: $primary-color;
        }

        .os-public-menu{
            margin: 0 auto;
            padding: 0;
            .mat-list-item{
                float: left;
                color: #333;
                font-size: 18px;
                font-family: 'Special Elite';
                
                @include sm-down {
                    .mat-list-item-content{
                        font-size: 16px;
                        padding: 0 8px;
                    }
                    .mat-icon{
                        margin-top: -4px;
                    }
                }

                &.mat-list-item-focus{
                    background: transparent;
                }
            }
            .mat-list-item::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: $primary-color;
                transition: width .3s;
            }
            
            .mat-list-item:hover{
                background: transparent;
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .os-toolbar-section{
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }
    .os-spacer{
        flex: 1 1 auto;
    }

    .shopping-cart-resume{
        .mat-icon{
            margin-top: 0px;
        }
    }
}