

$primary-color: #000;
$primary-dark-color: #003c8f;
$menu-height: 54px;

.app-content
{
  margin: 0 25px;
  padding-top: 20px;
  height: calc(100vh - #{$menu-height});
  min-height: calc(100vh - #{$menu-height});
  max-height: calc(100vh - #{$menu-height});
  box-sizing: border-box;
}

.os-form-container{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  md-form-field, footer{
    width: 100%;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    button{
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

.os-main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: $menu-height !important;
  .label {
    font-size: 0.8em;
    text-transform: capitalize;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .divider {
    width: 1px;
    height: 1.5em;
    margin: 0 10px;
    background-color: #FFF;
  }
}

.main-menu-container {
  margin-top: $menu-height;
}
