
<div class="row center-xs">
  <div class="col-xs col-md-4">
    <os-base-form [loading$]="loading$">
      <span class="sub-titles" osFormTitle> Marcas </span>

      <app-marca-producto-form [form]="form" [value]="item$ | async">
      </app-marca-producto-form>
      
      <strong>Categorias:</strong>
      <os-multiple-selection [control]="form.get('categorias')" 
        [list]="categorias$ | async" [value]="(item$ | async)?.categorias">
      </os-multiple-selection>

      <button mat-stroked-button color="warn" osFormButton
      (click)="onCancel()">
        <mat-icon>clear</mat-icon> Cancelar
      </button>
      <button mat-raised-button color="primary" osFormButton type="submit" 
        (click)="onContinue()" [disabled]="form.invalid">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </os-base-form>
  </div>
</div>