<div class="row">
  <div class="col-xs col-sm col-md-6">
    <os-base-form title="Marca Producto" [form]="form"
      [loading$]="loading$" [item$]="item$" (onSaveFired)="onSave($event)">
      <div class="row">
        <div class="col-xs col-md-6">
          <app-marca-producto-form [parent]="form"></app-marca-producto-form>
        </div>
        <div class="col-xs col-md-6">
          <strong>Categorias:</strong>
          <os-multiple-selection [list]="categorias$ | async" [parent]="form" controlName="categorias"></os-multiple-selection>
        </div>
      </div>
    </os-base-form>
  </div>
</div>