<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: tableColumns"></mat-row>
  <!-- Columns Definition -->
  <ng-template ngFor let-col [ngForOf]="columns">
    <ng-container [matColumnDef]="col.uniqueID">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="{{col.configuration.align}}-xs {{col.configuration.className}}">
        {{ col.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let item" class="{{col.configuration.align}}-xs {{col.configuration.className}}">
        <ng-container *ngIf="columnsTemplate[col.uniqueID]; else defaultValue"
          [ngTemplateOutlet]="columnsTemplate[col.uniqueID]"
          [ngTemplateOutletContext]="item">
        </ng-container>
        <ng-template #defaultValue>
          {{ col.description(item) }}
        </ng-template>
      </mat-cell>
    </ng-container>
  </ng-template>
  <!-- Actions -->
  <ng-container *ngIf="actions.length > 0" matColumnDef="actions">
    <mat-header-cell class="end-xs" *matHeaderCellDef>
      <button *ngFor="let action of headerActions" mat-icon-button
        (click)="performAction(action.uniqueID)"
        [color]="action.color"
        [matTooltip]="action.text">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell class="table-actions end-xs" *matCellDef="let item">
      <button *ngFor="let action of rowActions" mat-icon-button
        (click)="performAction(action.uniqueID, item)"
        [color]="action.color"
        [matTooltip]="action.text">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
</mat-table>
<mat-paginator
  [length]="dataSource.data.length"
  [pageSize]="10"
  [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
<!--
{{ columnsTemplate | json }}
-->
