<div [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="nombre"/>
  </mat-form-field>
  <!--
  <mat-form-field>
    <mat-select placeholder="Catalogo" formControlName="catalogoID">
      <mat-option [value]="0"> NINGUNO </mat-option>
    </mat-select>
  </mat-form-field>
  -->
  <mat-form-field *ngIf="catalogoID && catalogoID > 0">
    <input matInput placeholder="Formato Nombre del Producto" formControlName="formatoNombre"/>
  </mat-form-field>
  <div class="mat-form-field-wrapper">
    <mat-checkbox formControlName="usaInventario">¿Tiene Inventario?</mat-checkbox>
  </div>
  <div class="mat-form-field-wrapper">
      <mat-checkbox formControlName="requireProcesamiento">¿Requiere procesamiento?</mat-checkbox>
    </div>
</div>
    