<div class="row">
  <div class="col-xs col-md-6">
    <os-base-form title="Categoria Producto" [form]="form"
      [loading$]="loading$" [item$]="item$" (onSaveFired)="onSave($event)">
      <div class="row">
        <div class="col-xs col-md-7">
            <app-categoria-producto-form [parent]="form"></app-categoria-producto-form>
        </div>
        <div class="col-xs col-md-5">
          <div class="mat-form-field-wrapper" [formGroup]="form">
            <mat-checkbox formControlName="tieneGrupos">¿Contiene grupos?</mat-checkbox>
          </div>
          <mat-form-field *ngIf="usaGrupos">
            <input matInput placeholder="Grupo" [(ngModel)]="nombreGrupo" />
            <mat-icon matSuffix (click)="addGroup(nombreGrupo)">add</mat-icon>
          </mat-form-field>
          <mat-list dense *ngIf="usaGrupos">
            <mat-list-item *ngFor="let group of grupos">
              {{group}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </os-base-form>
  </div>
</div>

{{form.value | json}}