<div [formGroup]="parent">
    <mat-form-field>
      <mat-select placeholder="Marca" formControlName="marcaProductoID">
        <mat-option value="0">
          SIN MARCA
        </mat-option>
        <mat-option *ngFor="let brand of categoria.marcas" [value]="brand.key">
          {{brand.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="nombre" placeholder="Nombre"/>
    </mat-form-field>

    <mat-form-field class="sm">
      <input matInput formControlName="SKU" placeholder="SKU"/>
    </mat-form-field>
  </div>