<div class="sub-container">
  <div class="sub-container-header">
    <span class="sub-titles">
      Buscador de Clientes
    </span>
  </div>
  <div class="sub-container-content">
    <form (ngSubmit)="search(searchForm.value)">
      <os-search-persona-form [form]="searchForm"></os-search-persona-form>
      <div class="buttons-containers end-xs">
        <button type="submit" mat-raised-button color="primary" [disabled]="searchForm.invalid">
          <mat-icon aria-label="Buscar">search</mat-icon>
          Buscar
        </button>
      </div>
    </form>
  </div>
  <div class="sub-container-footer">
    <mat-list dense class="selection">
      <mat-list-item *ngFor="let item of resultados$ | async">
        <span matLine>
          {{ item.nombre }}
        </span>
        <button mat-icon-button (click)="openContactDialog(item)">
          <mat-icon>contact_phone</mat-icon>
        </button>
        <button mat-icon-button (click)="onItemSelected(item)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <div class="text-right buttons-containers" *ngIf="searchTriggered">
      <button type="button" mat-raised-button color="primary" (click)="onAddClick(searchForm.value.nombre)">
        <mat-icon aria-label="Agregar">add</mat-icon>
        Agregar Cliente
      </button>
    </div>
  </div>
</div>

<!--
<os-contacto [catalogName]="catalogName" [contactoID]="contactoID" [initialData]="_contacto?.persona"
  (onCancel)="showAdd = false" (onChange)="personaAdded($event)"
  *ngIf="showAdd"></os-contacto>
-->
