@import '~normalize.css/normalize.css';
@import '~flexboxgrid/dist/flexboxgrid.min.css';
@import './styles/material.scss';

@import './styles/mixins/breakpoints';
@import './styles/global/_global.scss';

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

.img-responsive{
    max-width: 100%;
    max-height: 100%;
}

.mat-dialog-container{
    width: 100% !important;
}