<div class="row">
  <div class="col-xs col-md-4">
    <div class="sub-container">
      <div class="sub-container-header">
        <span class="sub-titles">
            {{ categoriaID > 0 ? 'Editar' : 'Nueva' }} Categoria de Producto
        </span>
      </div>
      <form #productoCategoriaForm="ngForm">
        <mat-form-field>
          <input matInput name="nombre" placeholder="Nombre" required
            [ngModel]="item.nombre"/>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="catalogoID" placeholder="Catalogo" required [ngModel]="item.catalogoID">
            <mat-option [value]="0"> NINGUNO </mat-option>
            <mat-option *ngFor="let c of catalogos" [value]="c.key">
              {{c.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="productoCategoriaForm.value.catalogoID && productoCategoriaForm.value.catalogoID > 0">
          <input matInput name="formatoNombre" placeholder="Formato Nombre del Producto" required
            [ngModel]="item.formatoNombre"/>
        </mat-form-field>
        <div>
          <mat-checkbox name="usaInventario" [ngModel]="item.usaInventario">Tiene Inventario</mat-checkbox>
        </div>
        <div class="buttons-containers">
          <button type="button" mat-raised-button color="primary" 
            [disabled]="productoCategoriaForm.invalid"
            (click)="onSave(productoCategoriaForm.value)">
            <mat-icon aria-label="Guardar">save</mat-icon>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>